{% extends "base/main-template.html" %}

{% block head %} 
<link rel="stylesheet" href="../../static/css/agregar-juego.css">
{% endblock %}

{% block content %} 
<div class="content">
    <div class="container">
      <div class="main">
        <p>¿No encontaste tu juego favorito? ¡Agrégalo a la página!</p>
        <h3>Agregar juego nuevo</h3>
        <div class="formulario">
          <form action="/juego-agregado/" method="post" >
            {% csrf_token %}

            <div class="entrada">
              <div class="leyenda" >Nombre del juego</div>
              <input type="text" required id="nombre" name="nombre" size=100 placeholder= "Ingrese su usuario">
            </div>

            <div class="entrada">
              <div class="leyenda" >Año de lanzamiento</div>
              <input type="number" required id="anio" name="anio" size=100 value=2021 max=2021 min=1900>
            </div>

            <div class="entrada">
              <div class="leyenda" >Descripción del juego</div>
              <textarea rows="8" cols="40" required id="descripcion" name="descripcion" placeholder="Descripción del juego"></textarea>
            </div>

            <div class="entrada">
              <div class="leyenda">Desarrollador</div>
              <input type="text" required id="dev" name="dev" size=100 placeholder= "Ingrese nombre del desarrollador">
            </div>

            <div class="entrada">
              <div class="leyenda">Plataforma</div>
              <select id="plat" name="plat">
                {% for option in plataforms %}
                <option>  {{option}} </option>
                {% endfor %}
              </select>
            </div>
            
            <div class="entrada">
              <div class="leyenda">Géneros</div>
              <select id="gen" name="gen">
                {% for option in genres %}
                <option> {{option}} </option>
                {% endfor %}
              </select> 

              <div id="addgenre2" style="display: inline;"></div>

              <div  id="addgenre3" style="display: inline;"></div>

              <button type="button" class="secondary-button" onclick="addgenre()" id="add-genre-button" style="display: inline;"> Agregar Género </button>
            </div>
            
            <!-- Script para el botón de agregar generos -->
            <script>
              function addgenre(){
                let num = document.getElementsByName('gen').length;
                if (num == 1){
                  let genre2 = document.getElementById('addgenre2');
                  genre2.innerHTML = '<select id="gen2" name="gen">\n' +
                  '                    {% for option in genres %}\n' +
                  '                    <option> {{option}} </option>\n' +
                  '                    {% endfor %}\n' +
                  '                  </select>';
                }
                else if (num == 2) {
                  let genre3 = document.getElementById('addgenre3');
                  genre3.innerHTML = '<select id="gen3" name="gen">\n' +
                  '                    {% for option in genres %}\n' +
                  '                    <option> {{option}} </option>\n' +
                  '                    {% endfor %}\n' +
                  '                  </select>';
                  let boton = document.getElementById("add-genre-button");
                  boton.setAttribute("style", "display:none");
                }
              }
            </script>

            <!-- Botón de envío-->
            <div class="entrada">            
              <button class="main-button" type="submit"> Agregar juego </button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
{% endblock %}
