{% extends "base/main-template.html" %}

{% block head %}
<link rel="stylesheet" href="../../static/css/agregar-juego.css">
<script src="../../static/js/agregar-juegos.js"></script>
{% endblock %}

{% block content %}
<div class="content">
    <div class="container">
      <div class="main">
        <p>¿No encontaste tu juego favorito? ¡Agrégalo a la página!</p>
        <h3>Agregar juego nuevo</h3>
        <div class="formulario">
          <form action="/juego-agregado/" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="entrada">
              <div class="leyenda" >Nombre del juego</div>
              <input type="text" required id="nombre" name="nombre" size=100 placeholder= "Ingrese su usuario">
            </div>

            <div class="entrada">
              <div class="leyenda" >Año de lanzamiento</div>
              <input type="number" required id="anio" name="anio" size=100 value=2021 max=2021 min=1900>
            </div>

            <div class="entrada">
              <div class="leyenda" >Descripción del juego</div>
              <textarea rows="8" cols="40" required id="descripcion" name="descripcion" placeholder="Descripción del juego"></textarea>
            </div>

            <div class="entrada">
              <div class="leyenda">Desarrollador</div>
              <input type="text" required id="dev" name="dev" size=100 placeholder= "Ingrese nombre del desarrollador">
            </div>

            <div class="entrada">
              <div class="leyenda">Plataforma</div>
              <select id="plat" name="plat">
              </select>
            </div>

            <div class="entrada">
              <div class="leyenda">Géneros</div>
              <select id="gen1" name="gen" onchange="changeGenres(1)">
              </select>

              <div id="addgenre2" style="display: inline;"></div>

              <div  id="addgenre3" style="display: inline;"></div>

              <button type="button" class="secondary-button" onclick="addgenre()" id="add-genre-button" style="display: inline;"> Agregar Género </button>
            </div>
            <script>
              addPlataforms();
              addgenre();

            </script>

            <div class="entrada">
              <div class="leyenda">Imagen</div>
              <input type="file" required  accept ="image/png, image/jpeg" id="foto" name="foto">
            </div>



            <!-- Botón de envío-->
            <div class="entrada">
              <button class="main-button" type="submit"> Agregar juego </button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
{% endblock %}
