{% extends "base/main-template.html" %}

{% block content %}
<div class="content">
  <div class="user">
    {% if user.is_authenticated %}
      <h3>Hola de nuevo, {{user}}</h3>
    {% endif %}
  </div>
  <div class="container">
    <div class="main">
      <h3> Últimos juegos agregados</h3>
      <table class="table table-striped">
        <tbody>
          {% for juego in games %}
          <tr>
            <td><img class="responsive-img" src="../../static/img/chinita.jpeg" alt=""></td>
            <td>
              <h4><a href="/perfil-juego/?nombre={{juego.id}}">{{juego.nombre}}</a> </h4>
              <p>{{juego.descripcion}}</p>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="aside">
      <h3>Últimos usuario registrados</h3>
      <table class="table table-striped">
        <tbody>
          {% for user in users %}
          <tr>
            <td><p>{{user}}<p></td>

          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
</div>
{% endblock %}