{% extends "base/main-template.html" %}

{% block content %}
<div class="content">
  <div class="container">
    {% if user.is_authenticated %}
      <h3>Hola de nuevo, {{user}}</h3>
    {% endif %}
  </div>
  <div class="container">
    <div class="main">
      <h3>Top 5 de juegos mejor calificados:</h3>
      <table class="table table-striped">
        <tbody>
          {% for game in games %}
          <tr>
            <td><img class="responsive-img" src="../../static/media/{{game.foto}}" alt=""></td>
            <td>
              <h4><a href="/perfil-juego/?nombre={{game.id}}">{{game.name}}</a> </h4>
              <p>Plataforma: 
              <b>{{game.plataforma}}</b></p>

              <p>Géneros: 
              {% for genre in game.genres %}
              <b> {{genre.name}}</b>
              {% endfor %}
              </p>

              <p>Puntaje promedio: 
              <b>{{game.score}}</b> de 5.0</p>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>


    <div class="aside">
      <h3>Agregar amigos</h3>
      <table class="table table-striped">
        <tbody>
          {% for user in users %}
          {% if not user.is_superuser and user.username != 'Anonimo'%}
          {% if user not in request.user.friends.all and user != request.user %}
          <tr>
            <td>{{user}}<br><a href="/send_friend_request/{{user.id}}/">send friend request</a></td>

          </tr>
          {% endif %}
          {% endif %}
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
</div>
{% endblock %}
