{% extends "base/main-template.html" %}

{% block content %}
<div class="content">
  <div class="user">
    {% if user.is_authenticated %}
      <h3>Hola de nuevo, {{user}}</h3>
    {% endif %}
  </div>
  <div class="container">
    <div class="main">
      <h3> Bla Bla Bla Bla</h3>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td><img class="responsive-img" src="../../static/img/chinita.jpeg" alt=""></td>
            <td>
              <h4>bla bla bla bla</h4>
              <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              aaaaaaaaaaaaaaa
              aaaaaaaaaaaaaaaaaaa
              aaaaaaaaaaaaaaaaaaa
              aaaaaaaaaaaaaaaaa
              </p>

            </td>
          </tr>

          <tr>
            <td><img class="responsive-img" src="../../static/img/chinita.jpeg" alt=""></td>
            <td>
              <h4>bla bla</h4>
              <p>aaaaaaaaaaaaaaa
              aaaaaaaaaaaaaaa
              aaaaaaaaaaaaaaaaaaa
              aaaaaaaaaaaaaaaaaaa
              aaaaaaaaaaaaaaaaa
              </p>

            </td>
          </tr>

          <tr>
            <td><img class="responsive-img" src="../../static/img/chinita.jpeg" alt=""></td>
            <td>
              <h4>bla bla peo</h4>
              <p>aaaaaaaaaaaaaaa
              aaaaaaaaaaaaaaa
              aaaaaaaaaaaaaaaaaaa
              aaaaaaaaaaaaaaaaaaa
              aaaaaaaaaaaaaaaaa
              </p>

            </td>
          </tr>

          <tr>
            <td><img class="responsive-img" src="../../static/img/chinita.jpeg" alt=""></td>
            <td>
              <h4>bla bla</h4>
              <p>aaaaaaaaaaaaaaa
              aaaaaaaaaaaaaaa
              aaaaaaaaaaaaaaaaaaa
              aaaaaaaaaaaaaaaaaaa
              aaaaaaaaaaaaaaaaa
              </p>
              
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="aside">
      <h3>Top Algo¿?</h3>

      <table class="table table-striped">
        <tbody>
          <tr>
            <td>1</td>
            <td>Tetris</td>
            <td>4.3</td>
          </tr>

          <tr>
            <td>1</td>
            <td>Tetris</td>
            <td>4.3</td>
          </tr>

          <tr>
            <td>1</td>
            <td>Tetris</td>
            <td>4.3</td>
          </tr>


        </tbody>
      </table>
      <br>

      <h3>Top otra cosa algo¿?</h3>

      <table class="table table-striped">
        <tbody>
          <tr>
            <td>1</td>
            <td>Tetris</td>
            <td>4.3</td>
          </tr>

          <tr>
            <td>1</td>
            <td>Tetris</td>
            <td>4.3</td>
          </tr>

          <tr>
            <td>1</td>
            <td>Tetris</td>
            <td>4.3</td>
          </tr>


        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
