.main{
  width: 45%;
  margin-right: 5%;
  margin-bottom: 1em;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside{
  width: 45%;
  margin-bottom: 1em;
  padding: 1em;
}

.responsive-img{
  height: auto;
  width: 100%;
  max-width: 600px;
  min-width: 160px;
}

.reviews{
  width: 100%
}
hr{
  border: 1px dashed rgba(100,100,200, 0.4);
}

@media (max-width: 830px){
  .main {
    margin-bottom: 1em;
    width: auto;
  }

  .aside {
    margin-bottom: 1em;
    width: auto;
  }
}

