.main{
  width: 45%;
  margin-right: 5%;
  margin-bottom: 1em;
  padding: 1em;
}

.aside{
  width: 45%;
  margin-bottom: 1em;
  padding: 1em;
}

.responsive-img{
  height: auto;
  width: 100%;
  max-width: 600px;
  min-width: 160px;
}

.title{
  width: 100%;
}

.friend_requests{
  width: 100%;
  display: flex;
}

.request{
	margin-left: 1em;
	margin-right: 2em;
  display: block;
}

.friend_request-button {
  font-size: o.50em;
  background-color: rgba(100,100,200,1);
  color: white;
  border: 2px solid rgba(100,100,200,1);
  border-radius: 5px;
  padding: 2px 5px;
  transition-duration: 0.2s;
  cursor: pointer;
  text-decoration: none;
}

.friends{
  width: 100%;
}
.reviews{
  width: 100%;
}


.menu ul{
  list-style: none;
}
.menu li{
  display: inline;
  margin-right: 10%;
}



hr{
  border: 1px dashed rgba(100,100,200, 0.4);
}

@media (max-width: 830px){
  .main {
    margin-bottom: 1em;
    width: auto;
  }

  .aside {
    margin-bottom: 1em;
    width: auto;
  }
}

