{% extends "base/main-template.html" %}

{% block head %} 
<link rel="stylesheet" href="../../static/css/agregar-juego.css">
{% endblock %}

{% block content %} 
<div class="content">
    <div class="container">
      <div class="main">
        <p>Edita tu perfil aquí:</p>
        <h3>Editando perfil de {{user}}</h3>
        <div class="formulario">
          <form action="/perfil_actualizado/" method="post" >
            {% csrf_token %}

            <div class="entrada">
              <div class="leyenda" >Edad</div>
              <input type="text" required id="edad" name="edad" size=100 placeholder= "Ingresa tu edad">
            </div>

            <div class="entrada">
              <div class="leyenda" >Correo:</div>
              <input type="text" required id="correo" name="correo" size=100 placeholder= "Ingresa tu correo">
            </div>

            <div class="entrada">
              <div class="leyenda" >Descripción del usuario</div>
              <textarea rows="8" cols="40" required id="descripcion_usuario" name="descripcion_usuario" placeholder="Tu descripción"></textarea>
            </div>

            <!-- Botón de envío-->
            <div class="entrada">
              <button class="main-button" type="submit"> Guardar edición </button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
{% endblock %}
