{% extends "base/main-template.html" %}

{% block head %}
<link rel="stylesheet" href="../../static/css/juego.css">
{% endblock %}

{% block content %}
<div class="content">
  <div class="container">
    <div class="main">
      {% ifequal foto.path "no" %}
        <img class="responsive-img" src="../../static/img/chinita.jpeg" alt="">
      {% else %}
      <img class="responsive-img" src="../../static/user-media/{{foto.path}}" alt="">
    {% endifequal %}
    </div>

    <div class="aside">
        {% for user in that_user %}
        <h3>{{user.nombre}}</h3>
        <p>Edad: <b>{{user.edad}}</b></p>
        <p>Correo: <b>{{user.email}}</b></p>
        <p>Descripción: <b>{{user.descripcion}}</b></p>
        {% if user not in this_user.friends.all and user != this_user %}
            <a href="/send_friend_request/{{user.id}}/">
                <button class="main-button" type="button"> Agregar amigo </button>
            </a>
        {% endif %}
        {% endfor %}
    </div>
  </div>

  <div class="container">
    <div class="reviews">
        {% for user in that_user %}
            <h3>Reviews hechas por {{user}}</h3>
        {% endfor %}
    </div>
  </div>
    {% for review in reviews %}
      <div class="container">
        <div class="main">
          <img class="responsive-img" src="../../static/media/{{review.foto}}" alt="">
        </div>

        <div class="aside">
          <p><b><a href="/perfil-juego/?nombre={{review.id_game}}">{{review.name_game}}</a></b></p>

          <p>Plataforma:
          <b>{{review.plataforma_game}}</b></p>

          <p>Puntaje:
          <b>{{review.review_score}}</b></p>

          <p>Reseña:
          <b>{{review.review_des}}</b></p>

        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
