{% extends "base/main-template.html" %}

{% block head %}
<link rel="stylesheet" href="../../static/css/perfil-usuario.css">
{% endblock %}

{% block content %}
<div class="content">
  <div class="container">
    <div class="main">
      {% ifequal foto.path "no" %}
        <img class="responsive-img" src="../../static/img/chinita.jpeg" alt="">
      {% else %}
      <img class="responsive-img" src="../../static/user-media/{{foto.path}}" alt="">
    {% endifequal %}

    </div>

    <div class="aside">
      <h3>{{user}}</h3>
      <p>Edad: <b>{{user.edad}}</b></p>
      <p>Correo: <b>{{user.email}}</b></p>
      <p>Descripción: <b>{{user.descripcion}}</b></p>
      <a href="/editar_perfil/">
        <button class="main-button" type="button"> Editar Perfil </button>
      </a>
      <a href="/sesion_cerrada/">
        <button class="main-button" type="button"> Cerrar Sesión </button>
      </a>
    </div>
  </div>
  <div class="container">
    <div class="title">
      <h3>Solicitudes de amistad pendientes</h3>
    </div>
  </div>

  <div class="container">
    <div class="friend_requests"> 
      {% for friend_request in friend_requests %}

      <div class="request">
        {{friend_request.from_user.nombre}} <br>

        <a href="/accept_friend_request/{{friend_request.id}}/">
        <button class="friend_request-button" type="button"> Agregar amigo</button>
      </a>
      </div>
      {% endfor %}

    </div>
  </div>

  <div class="container">
    <div class="friends">
      <h3>Mis amigos</h3>
      {% for friend in user.friends.all %}
      <tr>
        <td>{{friend.nombre}}</td>
      </tr>
      {% endfor %}
    </div>
  </div>

  <div class="container">
    <div class="reviews">
      <h3>Reviews hechas por {{user}}</h3>
    </div>
  </div>
    {% for review in reviews %}
      <div class="container">
        <div class="main">
          <img class="responsive-img" src="../../static/media/{{review.foto}}" alt="">
        </div>

        <div class="aside">
          <p><b><a href="/perfil-juego/?nombre={{review.id_game}}">{{review.name_game}}</a></b></p>

          <p>Plataforma: 
          <b>{{review.plataforma_game}}</b></p>

          <p>Puntaje: 
          <b>{{review.review_score}}</b></p>

          <p>Reseña: 
          <b>{{review.review_des}}</b></p>
 
 
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
