{% extends "base/main-template.html" %}

{% block head %} 
<link rel="stylesheet" href="../../static/css/juego.css">
{% endblock %}

{% block content %} 
<div class="content">
  <div class="container">
    <div class="main">
      <img class="responsive-img" src="./img/chinita.jpeg" alt="">
    </div>

    <div class="aside">
      <h3>Nombre juego</h3>
      <p>Dato 1 juego: <b>bla bla bla bla bla bla</b></p>
      <p>Dato 1 juego: <b>bla bla bla bla bla bla</b></p>
      <p>Dato 1 juego: <b>bla bla bla bla bla bla</b></p>
      <p>Dato 1 juego: <b>bla bla bla bla bla bla</b></p>
      <p>Dato 1 juego: <b>bla bla bla bla bla bla</b></p>
      <p>Dato 1 juego: <b>bla bla bla bla bla bla</b></p>
      <p>Dato 1 juego: <b>bla bla bla bla bla bla</b></p>
    </div>
  </div>
  <div class="container">
    <div class="reviews">
      <h3>Reviews</h3>
      <p>bla bla </p>
      <p>bla bla </p>
      <p>bla bla </p>
      <p>bla bla </p>
      <p>bla bla </p>
      <p>bla bla </p>
      <p>bla bla </p>
      <p>bla bla </p>
    </div>
  </div>
</div>
{% endblock %}
