{% extends "base/main-template.html" %}

{% block head %}
<link rel="stylesheet" href="../../static/css/perfil-usuario.css">
{% endblock %}

{% block content %}
<div class="content">
  <div class="container">
    <div class="main">
      {% ifequal foto.path "no" %}
        <img class="responsive-img" src="../../static/img/chinita.jpeg" alt="">
      {% else %}
      <img class="responsive-img" src="../../static/user-media/{{foto.path}}" alt="">
    {% endifequal %}

    </div>

    <div class="aside">
      <h3>{{user}}</h3>
      <p>Edad: <b>{{user.edad}}</b></p>
      <p>Correo: <b>{{user.email}}</b></p>
      <p>Descripción: <b>{{user.descripcion}}</b></p>
      <a href="/editar_perfil/">
        <button class="main-button" type="button"> Editar Perfil </button>
      </a>
      <a href="/sesion_cerrada/">
        <button class="main-button" type="button"> Cerrar Sesión </button>
      </a>
    </div>
  </div>
  <div class="container">
    <div class="friend_requests">
      <h3>Solicitudes de amistad pendientes</h3>
      {% for friend_request in friend_requests %}
      {{friend_request.from_user}} <br>
        <a href="/accept_friend_request/{{friend_request.id}}/">
        <button class="friend_request-button" type="button"> Agregar amigo</button>
      </a>
 
        
      {% endfor %}
    </div>
  </div>
  <div class="container">
    <div class="friends">
      <h3>Mis amigos</h3>
      {% for friend in user.friends.all %}
      <tr>
        <td>{{friend.nombre}}</td>
      </tr>
      {% endfor %}
    </div>
  </div>
  <div class="container">
    <div class="reviews">
      <h3>Reviews hechas por {{user}}</h3>
      {% for review in reviews %}
        {% if review.author.username == user.username %}
          <table>
            <tr>
            <td>Juego: <b>{{review.game.nombre}}</b></td>
          </tr>
          <tr>
            <td>Puntaje: <b>{{review.score}}</b></td>
          </tr>
          <tr>
            <td>Reseña: <b>{{review.body}}</b></td>
          </tr>
          </table>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
