{% extends "base/main-template.html" %}

{% block head %}
<link rel="stylesheet" href="../../static/css/popular-games.css">
<link rel="stylesheet" href="../../static/css/juego.css">
{% endblock %}

{% block content %}
<div class="content">
  <div class="container">
    {% if resultados|length %}
    <h3> Resultados de la búsqueda: {{buscado}}</h3>
  </div>
    {% for game in resultados %}
      <div class="container">
        <div class="main">
          <img class="responsive-img" src="../../static/media/{{game.foto}}" alt="">
        </div>

        <div class="aside">
          <p>
          <b><a href="/perfil-juego/?nombre={{game.id}}">{{game.name}}</a></b></p>

          <p>Plataforma:
          <b>{{game.plataforma}}</b></p>

          <p>Géneros:
          {% for genre in game.genres %}
          <b> {{genre.name}}</b>
          {% endfor %}
          </p>

          <p>Puntaje promedio:
          <b>{{game.score}} </b> de 5.0</p>
        </div>
      </div>
      <hr>
    {% endfor %}

    {% else %}
    <h3> No se encontraron resultados para {{buscado}}</h3>
    {% endif %}
    </div>
  </div>
{% endblock %}
