{% extends "base/main-template.html" %}

{% block head %} 
<link rel="stylesheet" href="../../static/css/popular-games.css">
{% endblock %}

{% block content %} 
<div class="content">
  <div class="container">
    <div class="popular-games">
      {% if resultados|length %}
      <h3> Resultados búsqueda: {{buscado}}</h3>
      <table>
        <tbody>
          {% for juego in resultados %}
          <tr>
            <td><img class="responsive-img" src="../../static/img/chinita.jpeg" alt=""></td>
            <td>
              <h4>{{juego.nombre}}</h4>
              <p> {{juego.descripcion}}</p>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <h3> No se encontraron resultados para {{buscado}}</h3>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
