{% extends "base/main-template.html" %}

{% block head %} 
<link rel="stylesheet" href="../../static/css/juego.css">
{% endblock %}

{% block content %} 
<div class="content">
  {% ifequal bol 1%}
  <div class="container">
    <h2>{{game.nombre}}</h3>
  </div>
  <div class="container">

    <div class="main">
      <img class="responsive-img" src="../../static/media/{{foto.path}}" alt="">
    </div>

    <div class="aside">
      <p>Año de lanzamiento: <b> {{game.anio}}</b></p>
      <p>Desarrollador: <b> {{game.desarrollador}}</b></p>
      <p>Plataforma: <b> {{game.plataforma}}</b></p>
      <p>Géneros: 
      {% for gen in generos %}
      <b> {{gen.name}}  </b>
      {% endfor %}
      </p>
      <p>Descripción: <b> {{game.descripcion}}</b></p>
      <p>Puntaje promedio: <b> {{prom}} de 5.0</b></p>
    </div>
  </div>
  <hr>

  <div class="container">
    <div class="reviews">
      <h3>Reseñas</h3>
        {% for review in reviews %}
        <p> Autor: {{review.author.nombre}}</p>
        <p> Puntaje: {{review.score}}</p>
        <p> Reseña:  {{review.body}}</p>
        <hr>
        {% endfor %}
    </div>
  </div>
    {% else %}
    <div class="container">
    <h3> No existe el juego ingresado </h3>
    </div>
 
    {% endifequal %}

  </div>

</div>
{% endblock %}
